body {
  display: flex;
  justify-content: center;
  background-color: slategray;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  grid-gap: 15px;
}

.container > div {
  padding: 0.5rem 1rem;
  background-color: #fff;
}

#empty,
#layout-header,
#lines-header {
  grid-row: span 3;
  color: #fff;
}

#empty {
  background-color: transparent;
}

#layout-header {
  grid-column: span 2;
  background-color: #ff007f;
}

#lines-header {
  background-color: mediumpurple;
}
